In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data=pd.read_csv("taxi.csv")
data.head()

   Priceperweek  Population  ...  Averageparkingpermonth  Numberofweeklyriders
0            15     1800000  ...                      50                192000
1            15     1790000  ...                      50                190400
2            15     1780000  ...                      60                191200
3            25     1778000  ...                      60                177600
4            25     1750000  ...                      60                176800

[5 rows x 5 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Priceperweek            27 non-null     int64
 1   Population              27 non-null     int64
 2   Monthlyincome           27 non-null     int64
 3   Averageparkingpermonth  27 non-null     int64
 4   Numberofweeklyriders    27 non-null     int64
dtypes: int64(5)
memory usage: 1.2 KB

In [ ]:
data.shape

(27, 5)

In [ ]:
data.describe()

       Priceperweek    Population  ...  Averageparkingpermonth  Numberofweeklyriders
count     27.000000  2.700000e+01  ...               27.000000             27.000000
mean      49.925926  1.680111e+06  ...              107.037037         160026.074074
std       27.627921  6.780307e+04  ...               45.346089          21301.097303
min       15.000000  1.590000e+06  ...               50.000000         115696.000000
25%       27.500000  1.617500e+06  ...               75.000000         149600.000000
50%       40.000000  1.695000e+06  ...              100.000000         161600.000000
75%       75.000000  1.725000e+06  ...              140.000000         176000.000000
max      102.000000  1.800000e+06  ...              200.000000         192000.000000

[8 rows x 5 columns]

In [ ]:
X=data.drop("Numberofweeklyriders",axis=1).values
type(X)

numpy.ndarray

In [ ]:
y=data["Numberofweeklyriders"].values
type(y)

numpy.ndarray

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(X_train,y_train)
y_pred_reg=reg.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
print("Training Score :",reg.score(X_train,y_train))
print("Testing Score:",reg.score(X_test,y_test))
#print("Model Accuracy:",accuracy_score(y_test,y_pred_reg))

Training Score : 0.9428364724316813
Testing Score: 0.9157379222488221

In [ ]:
import pickle
pickle.dump(reg,open('taxi.pkl','wb'))

In [ ]:
model=pickle.load(open('taxi.pkl','rb'))
model.predict([[80,1770000,6000,85]])

array([153448.45038985])